@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');

/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #30336b;
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: "Libre Franklin";
    line-height: 2;
   
}

/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */

h1.nftAttributeSelectHeader {
    font-size: 90px;
}

#headerBanner {
    /* background-color: #ccc; */
    padding: 50px 0;
    max-width: 1100px;
    margin: 0 auto;
    background-image: url('img/website_header.svg');
      background-repeat: no-repeat;
      background-size: 1100px;
      background-position: top right;
      
}

#freeMint {
    background-color: #c0392b; padding: 5px; border-radius: 5px
}

#moreInfoButton {
    background-color: #e67e22; padding: 5px; border-radius: 5px
}

#lockNFT, #randomiseNFT, #signinWithMetaMask {
    background-color: #fff;
    color: rgb(16, 13, 13);
    text-transform: uppercase;
    border-radius: 10px;
    padding: 15px 15px 15px 70px;
    margin: 20px 0;
}

#signinWithMetaMask {
    background-image: url('img/metamasklogo.png');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 10px;
}

#randomiseNFT {
    background-image: url('img/icons/random.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 50px;
}

#lockNFT {
    background-image: url('img/icons/lock.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 50px;
}


#nftActionButtons {
    position: absolute; 
    bottom: -75px; 
    width: 500px;
}
#nftActionButtons p {
    text-align: center;
}
#nftActionButtons p span:nth-child(1) {
    margin-right: 50px;
}
#signinWithMetaMask {
    
}

#signinWithMetaMask:hover, #lockNFT:hover, #randomiseNFT:hover {
    cursor: pointer;
}
#section1 {
    background-image: url('img/website_top_banner.svg');
    background-repeat: no-repeat;
    /* background-position: top 65px left 0px; */
    padding-top: 70px;
}
.wrapper {
	display: flex;
  	flex-wrap: wrap;
      
}
.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
   
}
#left { 
	flex-grow: 1;
	min-width: 400px;
}
#hatchingEggHolder img {
    position: absolute;
    left: 0;
    width: 400px;
}

.nftLayer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: 100%;
    background-repeat: no-repeat;
}

.vh {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#chooseNFTAttributes {
    /* background-color: #ccc; */
    height: 600px;
    width: 500px;
    margin: 30px auto auto auto;
}


/* NFT BUILD UP */
#nftLayer_background {
    background-color: #fff
}

.nftAttributeSelectHeader {
    font-family: "Gloria Hallelujah";
    padding: 10px 0;
    font-size: 50px;
    margin-bottom: 30px;
    line-height: 1;
   
}
.section_title {
    font-size: 20px;
}


@media (min-width: 800px) {
    #headerBanner, #left {
        min-height: 100vh;
    }

    #left {
        max-width: 50%;
    }
}

@media (max-width: 1000px) {
    #headerBanner .container {
        margin-top: 200px;
    }
    #hatchingEggHolder img {
        display: none;
    }
}

@media (max-width: 600px) {
    h1.nftAttributeSelectHeader {
        font-size: 18vw;
    }
    

}

